<div class="login">
<div class="wrapper">
    <div class="title">Đổi mật khẩu</div>
    <form action="/change_password" method="post" enctype="multipart/form-data">
        <div class="field">
            <input type="text" name = "username" required>
            <label for="">Tên tài khoản</label>
        </div>
        <div class="field">
            <input type="password" name = "old_pass" required>
            <label for="">Mật khẩu cũ</label>
        </div>
        <div class="field">
            <input type="password" name = "new_pass" required>
            <label for="">Mật khẩu mới</label>
        </div>
        <div class="field">
            <input type="password" name = "repeat_new_pass" required>
            <label for="">Xác nhận mật khẩu</label>
        </div>
        {{#if err}}
            <div class="error-register">
                {{err}}
            </div>
        {{/if}}
        <div class="field">
            <input type="submit" value="Save changes">
        </div>
        <div class="signup-link">
            <a href="/login">Sign in Now</a>
        </div>
    </form>
</div>
</div>