<div class="col-lg-3 admin__action">
    <div class="mt-3">
        <ul class="nav nav-pills flex-column">
            <h5>Quản lý bài viết</h5>
            <li class="nav-items">
                <a href="/admin/view_post" class="nav-link">Xem bài viết</a>
            </li>
            <li class="nav-items">
                <a href="/admin/view_baned_post" class="nav-link">Bài viết bị chặn</a>
            </li>
            <hr class="solid">
            <h5>Quản lý tài khoản</h5>
            <li class="nav-items">
                <a href="/admin/view_account" class="nav-link">Xem tài khoản</a>
            </li>
            <li class="nav-items">
                <a href="/admin/check_account" class="nav-link">Yêu cầu duyệt</a>
            </li>
        </ul>
    </div>
</div>