<header class="header__admin">
    <div class="header__admin-left">
        <a href="/admin/view_post">Tdter Connection</a>
    </div>
    <div class="header__admin-right">
        
        <img class="header__admin-right-img"  src="https://firebasestorage.googleapis.com/v0/b/tdtu-app-ab935.appspot.com/o/356-3562377_personal-user.png?alt=media&token=96693493-19f6-4d88-bd44-58e91cbea7d6"/>
        <p class="header__admin-right-text">Admin</p>
        <div class="dropdown header__control-dropdown header__admin-right-icon" style="margin-top: 0dp !important;">
            <button class="btn dropdown-toggle" style="height: fit-content;" type="button" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="btn" id="logout-button" href="/logout">&ensp;Đăng xuất</a> 
                </li>
            </ul>
        </div>
    </div>
</header>